<div class="navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667779498/muzix/imguser_npjgvr.jpg" alt=""/>
        <h4 class="name">Username</h4>
        <p class="mail">UserEmail@gmail.com</p>
    </div>

    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            
            <button mat-button class="menu-button">
                <mat-icon>favorite</mat-icon>
                <span>Favorite</span>
            </button>
            
            <button mat-button class="menu-button">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>exit_to_app</mat-icon>
                <span>Signout</span>
            </button>
        </div>
    </div>
</div>