 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <div class="container">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <div class="form-group">
            <button mat-button class="track-button">
                <mat-icon>pause_circle_outline</mat-icon>
            </button>
            <button mat-button class="track-button">
                <mat-icon>stop</mat-icon>
            </button>
            <button mat-button class="track-button">
                <mat-icon>play_circle_outline</mat-icon>
            </button>
            <button mat-button class="track-button">
                <mat-icon>skip_next</mat-icon>
            </button>
          </div>
          <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/BrahmastraNAj-322x405_g9chim.jpg" class="track-img"/>
   
        <button mat-button class="track-button">
            <mat-icon>favorite_border</mat-icon>
        </button>
         
        </ul>
       
      </div>
    
  </nav>

  
-->


<div class="container-fluid   p-5">
    <h1 class="user-welcome">Welcome User</h1>
    <div>
    <h2 class="side-headings">Recomanded </h2>
    <div class="d-flex flex-row d-wrap">
        
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>
        </div>
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>
        </div>
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>
    </div>
</div>



<h2 class="side-headings mt-5">To you get started</h2>
<div class="d-flex flex-row text-wrap">
    <div class="card-ele">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
            <h2 class="title-movie mt-1">
                Brahmastra
            </h2>
    </div>
    <div class="card-ele">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
            <h2 class="title-movie mt-1">
                Brahmastra
            </h2>

    </div>
    <div class="card-ele">
        <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
            <h2 class="title-movie mt-1">
                Brahmastra
            </h2>
    </div>
    
</div>


    <h2 class="side-headings mt-5">To you get started</h2>
    <div class="d-flex flex-row text-wrap">
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>
        </div>
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>

        </div>
        <div class="card-ele">
            <img src="https://res.cloudinary.com/bbj8735/image/upload/v1667570757/muzix/brahmastra%20movie/brahmastra_poster_hw4c4t.jpg" class="movie-Home-img"/>
                <h2 class="title-movie mt-1">
                    Brahmastra
                </h2>
        </div>
        
    </div>

</div>
</div>