mat-sidenav{
    background-color: #0f172a;
    width:230px;
    height:100%;
    
}
mat-sidenav-content{
    height:100vh;
    background-color: black;
    
   
}
.main{
    margin-left: 30px;
}



mat-toolbar{
    
    justify-content: space-between;
}
mat-icon{
    margin-left: 15px;
    color: gray;
}

.box{
    margin-top: 15px;
}
.track-img{
    height:55px;
    width:55px;

}

